.home {
    display: flex;
    flex: 1;
    background-color: white;
    align-Items: center;
    text-align: center;
    justify-content: center;
}

.home__fileform {
    margin-top: 150px;
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px dashed rgb(210, 227, 244);
    padding: 1.5rem;
    cursor: pointer;
}

.home-fileform__input{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.home-fileform__img{
    width: 90px;
    height: 90px;
}

.home-fileform__text {
    color: red;
}

.home-fileform__submit {
    color: blue;
}

/*
*/

.response {
    border: 1px solid black;
}

.response__recipeName {
    margin-top: 10%;
}

.response__recipeSteps {
    font-size: 20;
}
