.navbar {
    /* position: fixed;
    z-index: 2; */
    width: 100%;
    height: 75px;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid black;
    transition: 0.3s;
    background-color: white;
}

.navbar__container {
    display: flex;
    align-items: center;
    text-align: center;
    /* margin: 0 5px; */
    justify-content: space-between;
    gap: 20px;
    max-height: 77px;
    transition: 0.3s;
}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 5px;
}

.navbar-logo__img {
    height: 50px;
    width: 50px;
}

.navbar-logo__name {
    font-size: large;
    font-family:sans-serif;
}

/*
not logged in
*/

.navbar__login {
    background-color: rgba(255, 255, 255, 1);
    height: 30px;
    width: 120px;
    font-size: large;
}

.navbar__login:hover {
    color: white;
    background-color: rgba(104, 85, 224);
}

/*
logged in
*/

/* .navbar__hamburger {

} */

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    visibility: hidden;
}

.navbar-menu__recipe {
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.navbar-menu__home {
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.navbar-menu__logout {
    font-size: x-large;
    text-decoration: none;
    /* color: white; */
}

.navbar-menu__recipe:hover, .navbar-menu__home:hover, .navbar-menu__logout:hover {
    color: white;
}

.navbar-menu__recipe:active, .navbar-menu__home:active, .navbar-menu__logout:active {
    color: rgb(150, 150, 150);
}

.navbar-menu__img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.navbar-menu__img:hover {
    border: 1px solid white;
}

.navbar-menu__hamburger {
    margin: 0px;
    position: fixed;
    top: 0;
    right: 10px;

}

@media  screen and (min-width: 750px) {
    .navbar {
        height: 100px;
    }
    .navbar__container {
        max-height: 102px;
        /* margin: 0 20px; */
    }

    .navbar__logo {
        margin: 10px;
    }
    .navbar-logo__img {
        height: 75px;
        width: 75px;
    }
    .navbar-logo__name {
        font-size: xx-large;
    }
/*
*/
    .navbar__menu {
        visibility: visible;
    }
    .navbar-menu__img {
        margin-right: 5px;
    }
    .navbar-menu__hamburger {
        visibility: hidden;
    }
}